name: Build iOS XCFramework

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Install gomobile
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init

      - name: Build XCFramework
        run: |
          go get golang.org/x/mobile/bind
          go mod tidy
          gomobile bind -target=ios -o Mihomo.xcframework ./mobile

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Mihomo.xcframework
          path: Mihomo.xcframework
